body{
    background-color: #EDEDED; 
}

/* Navbar Drop Down Links */

.navbar {
    max-height: 50px; 
	background-color: #cbcecc; 
    font-size: 15px;
}

.navigation .navbar-brand{
	color: white; 
	margin-left: 50px; 
	padding: inherit; 
	font-weight: bold; 
	background-color: rgb(76, 113, 194);
	font-family: 'Overpass', sans-serif;;
}

.dropdown-menu .dropdown-item:hover, .dropdown-menu .dropdown-item:active{
    background-color:#b1cdc9; 
}

.dropdown-item{
    color: rgb(76, 113, 194); 
}

.nav-link:hover{
    background-color:#b1cdc9;
}

/* Latitude Button Style */
@media (max-width: 800px){
.navbar-expand-lg{
    background-color:rgb(76, 113, 194);
}

.navbar-brand{
    padding: 50px; 
}

.navbar {
    max-height: none; 
    padding: inherit;
}

button{
    margin-left: auto; 
}
}

/* Summary Container */
.description-content {
	margin-top: 35px;
	margin-bottom: 65px;
	padding: 30px 40px 30px;
	color: black;
	background-color: white;
}

.description-header, .imageNav-header {
	padding-top: 60px; 
	padding-left: 45px;
	color: #38ab87;
	font-size: 30px;
	font-weight: bold;
	font-family: 'Overpass', sans-serif;;
}

/* Images and Visualizations */

img{
	width: 110%;
	height: 110%;
}

.description-image {
	float: left;
	width: 70%;
	height: 70%;
}

p{
	color: #44504d;
	font-size: 12px;
	font-family: 'Overpass', sans-serif;;
}


.active, .imageNav-photo:hover{
    border-color:rgb(76, 113, 194);
    border-style: solid; 
}